<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <interactiveMode>false</interactiveMode>

  <mirrors>
    <mirror>
      <id>nexus</id>
      <mirrorOf>*</mirrorOf>
      <url>http://forge.code.intuit.com/nexus/content/groups/dev</url>
    </mirror>
  </mirrors>

  <profiles>
    <profile>
      <id>cic-nexus-repo</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://forge.code.intuit.com/nexus/content/groups/dev</url>
          <releases />
          <snapshots />
        </repository>
      </repositories>
     <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://forge.code.intuit.com/nexus/content/groups/dev</url>
          <releases />
          <snapshots />
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>cic-nexus-repo</activeProfile>
  </activeProfiles>
</settings>
