<!-- BEGIN_INCLUDE(quickbooks-windows:create) -->
<quickbooks-windows:create realmId="#[map-payload:realmId]"
                           appKey="#[map-payload:appKey]"
                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
                           type="#[map-payload:type]"
                           requestId="#[map-payload:requestId]"
                           draft="#[map-payload:draft]"
                           fullResponse="#[map-payload:fullResponse]">
    <quickbooks-windows:obj ref="#[map-payload:obj]"/>
</quickbooks-windows:create>
<!-- END_INCLUDE(quickbooks-windows:create) -->

<!-- BEGIN_ICNLUDE(quickbooks-windows:create2) -->
<quickbooks-windows:generate-a-new-request-id />
<quickbooks-windows:create realmId="33221157"
                           appKey="e52dixcj2r7s2buxrd6gdujhd7v"
                           realmIdPseudonym="5f729f9c-a2d6-4727-124e-ecad796da0a5"
                           authIdPseudonym="6f3d72f2-525b-4309-ac2b-f7c2dfbb903c"                         
                           type="ACCOUNT"
                           requestId="#[payload]"
                           draft="false"
                           fullResponse="true">
    <quickbooks-windows:obj>
        <name>Test Account QW 91</name>
        <active>true</active>
        <type>EXPENSE<type>
        <subtype>expense</subtype>
        <acctNum>9919823</acctNum>
        <openingBalance>0</openingBalance>
        <openingBalanceDate>2012-02-02T00:00:00Z</openingBalanceDate>
    </quickbooks-windows:obj>
</quickbooks-windows:create>
<!-- END_INCLUDE(quickbooks-windows:create2) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:update) -->
<quickbooks-windows:update realmId="#[map-payload:realmId]"
                           appKey="#[map-payload:appKey]"
                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
                           type="#[map-payload:type]"
                           requestId="#[map-payload:requestId]"
                           draft="#[map-payload:draft]"
                           fullResponse="#[map-payload:fullResponse]">
    <quickbooks-windows:obj ref="#[map-payload:obj]"/>
            
</quickbooks-windows:update>
<!-- END_INCLUDE(quickbooks-windows:update) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:delete) -->
<quickbooks-windows:delete realmId="#[map-payload:realmId]"
                           appKey="#[map-payload:appKey]"
                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
                           type="#[map-payload:type]"
                           requestId="#[map-payload:requestId]">
    <quickbooks-windows:obj ref="#[map-payload:obj]"/>
            
</quickbooks-windows:delete>
<!-- END_INCLUDE(quickbooks-windows:delete) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:get-object) -->
<quickbooks-windows:get-object realmId="#[map-payload:realmId]"
                           appKey="#[map-payload:appKey]"
                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
                           type="#[map-payload:type]">
    <quickbooks-windows:id ref="#[map-payload:id]"/>
            
</quickbooks-windows:get-object>
<!-- END_INCLUDE(quickbooks-windows:get-object) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:find-objects) -->
<quickbooks-windows:find-objects realmId="#[map-payload:realmId]"
                           appKey="#[map-payload:appKey]"
                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
                           type="#[map-payload:type]">
    <quickbooks-windows:query ref="#[map-payload:query]"/>
            
</quickbooks-windows:find-objects>
<!-- END_INCLUDE(quickbooks-windows:find-objects) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:generate-a-new-request-id) -->
<quickbooks-windows:generate-a-new-request-id />
<!-- END_INCLUDE(quickbooks-windows:generate-a-new-request-id) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:revert) -->
<quickbooks-windows:revert realmId="#[map-payload:realmId]"
                           appKey="#[map-payload:appKey]"
                           realmIdPseudonym="#[map-payload:realmIdPseudonym]"
                           authIdPseudonym="#[map-payload:authIdPseudonym]" 
                           type="#[map-payload:type]"
                           requestId="#[map-payload:requestId]">
    <quickbooks-windows:obj ref="#[map-payload:obj]"/>
</quickbooks-windows:revert>
<!-- END_INCLUDE(quickbooks-windows:revert) -->