<!-- BEGIN_INCLUDE(quickbooks:create-account) -->
<quickbooks:create-account accessTokenId="accessTokenId" >
</quickbooks:create-account>
<!-- END_INCLUDE(quickbooks:create-account) -->

<!-- BEGIN_INCLUDE(quickbooks:create-bill) -->
<quickbooks:create-bill accessTokenId="accessTokenId" >
</quickbooks:create-bill>
<!-- END_INCLUDE(quickbooks:create-bill) -->

<!-- BEGIN_INCLUDE(quickbooks:create-bill-payment) -->
<quickbooks:create-bill-payment accessTokenId="accessTokenId" >
</quickbooks:create-bill-payment>
<!-- END_INCLUDE(quickbooks:create-bill-payment) -->

<!-- BEGIN_INCLUDE(quickbooks:create-purchase) -->
<quickbooks:create-purchase accessTokenId="accessTokenId" >
</quickbooks:create-purchase>
<!-- END_INCLUDE(quickbooks:create-purchase) -->

<!-- BEGIN_INCLUDE(quickbooks:create-customer) -->
<quickbooks:create-customer accessTokenId="accessTokenId">
</quickbooks:create-customer>
<!-- END_INCLUDE(quickbooks:create-customer) -->

<!-- BEGIN_INCLUDE(quickbooks:create-journal-entry) -->
<quickbooks:create-journal-entry accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks:create-journal-entry) -->

<!-- BEGIN_INCLUDE(quickbooks:create-estimate) -->
<quickbooks:create-estimate accessTokenId="accessTokenId">
</quickbooks:create-estimate>
<!-- END_INCLUDE(quickbooks:create-estimate) -->

<!-- BEGIN_INCLUDE(quickbooks:create-invoice) -->
<quickbooks:create-invoice accessTokenId="accessTokenId">
</quickbooks:create-invoice>
<!-- END_INCLUDE(quickbooks:create-invoice) -->

<!-- BEGIN_INCLUDE(quickbooks:create-item) -->
<quickbooks:create-item accessTokenId="accessTokenId">
</quickbooks:create-item>
<!-- END_INCLUDE(quickbooks:create-item) -->

<!-- BEGIN_INCLUDE(quickbooks:create-payment) -->
<quickbooks:create-payment accessTokenId="accessTokenId">
</quickbooks:create-payment>
<!-- END_INCLUDE(quickbooks:create-payment) -->

<!-- BEGIN_INCLUDE(quickbooks:create-payment-method) -->
<quickbooks:create-payment-method accessTokenId="accessTokenId">
</quickbooks:create-payment-method>
<!-- END_INCLUDE(quickbooks:create-payment-method) -->

<!-- BEGIN_INCLUDE(quickbooks:create-sales-receipt) -->
<quickbooks:create-sales-receipt accessTokenId="accessTokenId">
</quickbooks:create-sales-receipt>
<!-- END_INCLUDE(quickbooks:create-sales-receipt) -->

<!-- BEGIN_INCLUDE(quickbooks:create-term) -->
<quickbooks:create-term accessTokenId="accessTokenId">
</quickbooks:create-term>
<!-- END_INCLUDE(quickbooks:create-term) -->

<!-- BEGIN_INCLUDE(quickbooks:create-vendor) -->
<quickbooks:create-vendor accessTokenId="accessTokenId">
</quickbooks:create-vendor>
<!-- END_INCLUDE(quickbooks:create-vendor) -->

<!-- BEGIN_INCLUDE(quickbooks:get-object) -->
<quickbooks:get-object accessTokenId="accessTokenId"
                       type="INVOICE" >
</quickbooks:get-object>
<!-- END_INCLUDE(quickbooks:get-object) -->

<!-- BEGIN_INCLUDE(quickbooks:update-account) -->
<quickbooks:update-account accessTokenId="accessTokenId">
</quickbooks:update-account>
<!-- END_INCLUDE(quickbooks:update-account) -->

<!-- BEGIN_INCLUDE(quickbooks:update-bill) -->
<quickbooks:update-bill accessTokenId="accessTokenId">
</quickbooks:update-bill>
<!-- END_INCLUDE(quickbooks:update-bill) -->

<!-- BEGIN_INCLUDE(quickbooks:update-bill-payment) -->
<quickbooks:update-bill-payment accessTokenId="accessTokenId">
</quickbooks:update-bill-payment>
<!-- END_INCLUDE(quickbooks:update-bill-payment) -->

<!-- BEGIN_INCLUDE(quickbooks:update-purchase) -->
<quickbooks:update-purchase accessTokenId="accessTokenId">
</quickbooks:update-purchase>
<!-- END_INCLUDE(quickbooks:update-purchase) -->

<!-- BEGIN_INCLUDE(quickbooks:update-customer) -->
<quickbooks:update-customer accessTokenId="accessTokenId">
</quickbooks:update-customer>
<!-- END_INCLUDE(quickbooks:update-customer) -->

<!-- BEGIN_INCLUDE(quickbooks:update-estimate) -->
<quickbooks:update-estimate accessTokenId="accessTokenId">
</quickbooks:update-estimate>
<!-- END_INCLUDE(quickbooks:update-estimate) -->

<!-- BEGIN_INCLUDE(quickbooks:update-invoice) -->
<quickbooks:update-invoice accessTokenId="accessTokenId">
</quickbooks:update-invoice>                                             
<!-- END_INCLUDE(quickbooks:update-invoice) -->

<!-- BEGIN_INCLUDE(quickbooks:update-item) -->
<quickbooks:update-item accessTokenId="accessTokenId">
</quickbooks:update-item>
<!-- END_INCLUDE(quickbooks:update-item) -->

<!-- BEGIN_INCLUDE(quickbooks:update-journal-entry) -->
<quickbooks:update-journal-entry accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks:update-journal-entry) -->

<!-- BEGIN_INCLUDE(quickbooks:update-payment) -->
<quickbooks:update-payment accessTokenId="accessTokenId">
</quickbooks:update-payment>
<!-- END_INCLUDE(quickbooks:update-payment) -->

<!-- BEGIN_INCLUDE(quickbooks:update-payment-method) -->
<quickbooks:update-payment-method accessTokenId="accessTokenId">
</quickbooks:update-payment-method>
<!-- END_INCLUDE(quickbooks:update-payment-method) -->

<!-- BEGIN_INCLUDE(quickbooks:update-sales-receipt) -->
<quickbooks:update-sales-receipt accessTokenId="accessTokenId">
</quickbooks:update-sales-receipt>
<!-- END_INCLUDE(quickbooks:update-sales-receipt) -->

<!-- BEGIN_INCLUDE(quickbooks:update-term) -->
<quickbooks:update-term accessTokenId="accessTokenId">
</quickbooks:update-term>
<!-- END_INCLUDE(quickbooks:update-term) -->

<!-- BEGIN_INCLUDE(quickbooks:update-vendor) -->
<quickbooks:update-vendor accessTokenId="accessTokenId">
</quickbooks:update-vendor>
<!-- END_INCLUDE(quickbooks:update-vendor) -->

<!-- BEGIN_INCLUDE(quickbooks:delete-object) -->
<quickbooks:delete-object accessTokenId="accessTokenId"
                          type="INVOICE"
                          syncToken="2" >
</quickbooks:delete-object>
<!-- END_INCLUDE(quickbooks:delete-object) -->

<!-- BEGIN_INCLUDE(quickbooks:find-objects) -->
<quickbooks:find-objects accessTokenId="accessTokenId"
                         type="ACCOUNT"
                         queryFilter="#[variable:queryfilterstring]"
                         querySort="#[variable:querysortstring]"/>
<!-- END_INCLUDE(quickbooks:find-objects) -->

<!-- BEGIN_INCLUDE(quickbooks:find-objects2) -->
<quickbooks:find-objects accessTokenId="accessTokenId"
                         type="ACCOUNT"
                         queryFilter="Name :EQUALS: Loan Account"
                         querySort="Name AToZ"/>
<!-- END_INCLUDE(quickbooks:find-objects2) -->

<!-- BEGIN_INCLUDE(quickbooks:find-objects3) -->
<quickbooks:find-objects accessTokenId="accessTokenId"
                         type="CUSTOMER"
                         queryFilter="FamilyName :EQUALS: Doe" />
<!-- END_INCLUDE(quickbooks:find-objects3) -->

<!-- BEGIN_INCLUDE(quickbooks:find-objects4) -->
<quickbooks:find-objects accessTokenId="accessTokenId"
                         type="INVOICE"
                         queryFilter="DBAName :EQUALS: Smith Bakery :AND: FamilyName :EQUALS: Smith" />
<!-- END_INCLUDE(quickbooks:find-objects4) -->

<!-- BEGIN_INCLUDE(quickbooks:find-objects5) -->
<quickbooks:find-objects accessTokenId="accessTokenId"
                         type="INVOICE"
                         queryFilter="LastUpdatedTime :AFTER: 2010-08-10T14:30:00-0700 :AND: LastUpdatedTime :BEFORE: 2010-08-10T15:30:00-0700" />
<!-- END_INCLUDE(quickbooks:find-objects5) -->

<!-- BEGIN_INCLUDE(quickbooks:change-data-deleted) -->
<quickbooks:change-data-deleted accessTokenId="accessTokenId"
                         queryFilter="#[variable:queryfilterstring]"
                         querySort="#[variable:querysortstring]"/>
<!-- END_INCLUDE(quickbooks:change-data-deleted) -->

<!-- BEGIN_INCLUDE(quickbooks:get-current-user) -->
<quickbooks:get-current-user accessTokenId="accessTokenId">
</quickbooks:get-current-user>
<!-- END_INCLUDE(quickbooks:get-current-user) -->

<!-- BEGIN_INCLUDE(quickbooks:get-company-metadata) -->
<quickbooks:get-company-metadata accessTokenId="accessTokenId">
</quickbooks:get-company-metadata>
<!-- END_INCLUDE(quickbooks:get-company-metadata) -->

<!-- BEGIN_INCLUDE(quickbooks:auth-user) -->
<quickbooks:auth-user config-ref="Quickbooks_Online" accessTokenUrl="https://oauth.intuit.com/oauth/v1/get_access_token"
authorizationUrl="https://appcenter.intuit.com/Connect/Begin" callbackUrl="http://localhost:8090" requestTokenId="requestTokenId"
requestTokenUrl="https://oauth.intuit.com/oauth/v1/get_request_token" />
<!-- END_INCLUDE(quickbooks:auth-user) -->

<!-- BEGIN_INCLUDE(quickbooks:get-access-token) -->
<quickbooks:get-access-token />
<!-- END_INCLUDE(quickbooks:get-access-token) -->

<!-- BEGIN_INCLUDE(quickbooks:open-id-initialize) -->
<quickbooks:open-id-initialize callbackUrl="http://localhost:8090/openId" />
<!-- END_INCLUDE(quickbooks:open-id-initialize) -->

<!-- BEGIN_INCLUDE(quickbooks:verify-open-id) -->
<quickbooks:verify-open-id >
    <quickbooks:response-parameters ref="#[message.inboundProperties['http.query.params']]"/>
</quickbooks:verify-open-id>
<!-- END_INCLUDE(quickbooks:verify-open-id) -->

<!-- BEGIN_INCLUDE(quickbooks:get-blue-dot-information) -->
<quickbooks:get-blue-dot-information accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks:get-blue-dot-information) -->

<!-- BEGIN_INCLUDE(quickbooks:disconnect) -->
<quickbooks:disconnect accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks:disconnect) -->

<!-- BEGIN_INCLUDE(quickbooks:reconnect) -->
<quickbooks:reconnect accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks:reconnect) -->