<!-- BEGIN_INCLUDE(quickbooks-windows:create) -->
<quickbooks-windows:create accessTokenId="accessTokenId"
                           type="#[map-payload:type]"
                           draft="#[map-payload:draft]"
                           fullResponse="#[map-payload:fullResponse]"
                           entityObject-ref="#[payload]" >
</quickbooks-windows:create>
<!-- END_INCLUDE(quickbooks-windows:create) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:update) -->
<quickbooks-windows:update accessTokenId="accessTokenId"
                           type="#[map-payload:type]"
                           draft="#[map-payload:draft]"
                           fullResponse="#[map-payload:fullResponse]"
                           entityObject-ref="#[map-payload:obj]">            
</quickbooks-windows:update>
<!-- END_INCLUDE(quickbooks-windows:update) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:delete) -->
<quickbooks-windows:delete accessTokenId="accessTokenId"
                           type="#[map-payload:type]"
                           entityObject-ref="#[map-payload:obj]" >            
</quickbooks-windows:delete>
<!-- END_INCLUDE(quickbooks-windows:delete) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:revert) -->
<quickbooks-windows:revert accessTokenId="accessTokenId"
                           type="#[map-payload:type]"
                           entityObject-ref="#[map-payload:obj]" >            
</quickbooks-windows:revert>
<!-- END_INCLUDE(quickbooks-windows:revert) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:get-object) -->
<quickbooks-windows:get-object accessTokenId="accessTokenId"
                           type="#[map-payload:type]"
                           idType-ref="#[map-payload:id]">            
</quickbooks-windows:get-object>
<!-- END_INCLUDE(quickbooks-windows:get-object) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:find-objects) -->
<quickbooks-windows:find-objects accessTokenId="accessTokenId"
                           type="#[map-payload:type]">
                           <quickbooks-windows:query ref="#[map-payload:query]"/>            
</quickbooks-windows:find-objects>
<!-- END_INCLUDE(quickbooks-windows:find-objects) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:find-objects-list-of-id) -->
<quickbooks-windows:find-objects accessTokenId="accessTokenId"
                           type="ACCOUNT">
    <quickbooks-windows:query>
        <listIdSet>#[groovy: [
            'id' : [
                [ 'value' : '12345',
                  'idDomain' : 'QB' ],
                [ 'value' : '8589'
                  'idDomain' : 'QB' ],
                [ 'value' : '5321'
                  'idDomain' : 'QB' ],
                [ 'value' : '51'
                  'idDomain' : 'QB' ],
                [ 'value' : '19822'
                  'idDomain' : 'QB' ] ]
        ] ]</listIdSet>
    </quickbooks-windows:query>
            
</quickbooks-windows:find-objects>
<!-- END_INCLUDE(quickbooks-windows:find-objects-list-of-id) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:find-objects-all-accounts) -->
<!-- retrieves all the accounts -->
<quickbooks-windows:find-objects accessTokenId="accessTokenId"
                           type="ACCOUNT" />
<!-- END_INCLUDE(quickbooks-windows:find-objects-all-accounts) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:find-objects-bill) -->
<quickbooks-windows:find-objects accessTokenId="accessTokenId"
                           type="BILL">
    <quickbooks-windows:query>
        <draftFilter>DRAFT_ONLY</draftFilter>
        <minimumAmount>230</minimumAmount>
        <minimumBalance>500</minimumBalance>
        <startCreatedTMS>2010-06-18T02:17:29</startCreatedTMS>
        <endCreatedTMS>2011-06-18T02:17:29</endCreatedTMS>
    </quickbooks-windows:query>
            
</quickbooks-windows:find-objects>
<!-- END_INCLUDE(quickbooks-windows:find-objects-bill) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:generate-a-new-request-id) -->
<quickbooks-windows:generate-a-new-request-id />
<!-- END_INCLUDE(quickbooks-windows:generate-a-new-request-id) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:status) -->
<quickbooks-windows:status accessTokenId="accessTokenId">
    <quickbooks-windows:sync-status-request ref="#[map-payload:syncStatusRequest]"/>
</quickbooks-windows:status>
<!-- END_INCLUDE(quickbooks-windows:status) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:status2) -->
<quickbooks-windows:status accessTokenId="accessTokenId"/>
<!-- END_INCLUDE(quickbooks-windows:status2) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:status3) -->
<quickbooks-windows:status accessTokenId="accessTokenId">
    <quickbooks-windows:sync-status-request>
        <ngIdSet>#[groovy: [ 
            [   'ngObjectType' : 'CUSTOMER',
                'ngId' : '2948729' ]
        ] ]</ngIdSet>
    </quickbooks-windows:sync-status-request>
</quickbooks-windows:status>
<!-- END_INCLUDE(quickbooks-windows:status3) -->
    
<!-- BEGIN_INCLUDE(quickbooks-windows:status4) -->
<quickbooks-windows:status accessTokenId="accessTokenId">
    <quickbooks-windows:sync-status-request>
        <requestId>#[groovy: [ 
            [   '81283818123912398123981723981239' ]
        ] ]</requestId>
    </quickbooks-windows:sync-status-request>
</quickbooks-windows:status>
<!-- END_INCLUDE(quickbooks-windows:status4) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:sync-activity) -->
<quickbooks-windows:sync-activity accessTokenId="accessTokenId">
    <quickbooks-windows:sync-activity-request ref="#[map-payload:syncActivityRequest]"/>
</quickbooks-windows:sync-activity>
<!-- END_INCLUDE(quickbooks-windows:sync-activity) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:sync-activity2) -->
<quickbooks-windows:sync-activity accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks-windows:sync-activity2) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:sync-activity3) -->
<quickbooks-windows:sync-activity accessTokenId="accessTokenId" >
    <quickbooks-windows:sync-activity-request>
        <startCreatedTMS>2010-06-18T02:17:29</startCreatedTMS>
        <endCreatedTMS>2011-06-18T02:17:29</endCreatedTMS>
    </quickbooks-windows:sync-activity-request>
</quickbooks-windows:sync-activity>
<!-- END_INCLUDE(quickbooks-windows:sync-activity3) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:get-current-user) -->
<quickbooks-windows:get-current-user accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks-windows:get-current-user) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:get-company-metadata) -->
<quickbooks-windows:get-company-metadata accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks-windows:get-company-metadata) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:auth-user) -->
<quickbooks-windows:auth-user config-ref="Quickbooks_Windows" accessTokenUrl="https://oauth.intuit.com/oauth/v1/get_access_token"
authorizationUrl="https://appcenter.intuit.com/Connect/Begin" callbackUrl="http://localhost:8090" requestTokenId="requestTokenId"
requestTokenUrl="https://oauth.intuit.com/oauth/v1/get_request_token" />
<!-- END_INCLUDE(quickbooks-windows:auth-user) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:get-access-token) -->
<quickbooks-windows:get-access-token />
<!-- END_INCLUDE(quickbooks-windows:get-access-token) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:open-id-initialize) -->
<quickbooks-windows:open-id-initialize callbackUrl="http://localhost:8090/openId" />
<!-- END_INCLUDE(quickbooks-windows:open-id-initialize) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:verify-open-id) -->
<quickbooks-windows:verify-open-id >
    <quickbooks-windows:response-parameters ref="#[message.inboundProperties['http.query.params']]"/>
</quickbooks-windows:verify-open-id>
<!-- END_INCLUDE(quickbooks-windows:verify-open-id) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:disconnect) -->
<quickbooks-windows:disconnect accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks-windows:disconnect) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:reconnect) -->
<quickbooks-windows:reconnect accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks-windows:reconnect) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:blue-dot-menu) -->
<quickbooks-windows:blue-dot-menu accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks-windows:blue-dot-menu) -->

<!-- BEGIN_INCLUDE(quickbooks-windows:get-blue-dot-information) -->
<quickbooks-windows:get-blue-dot-information accessTokenId="accessTokenId" />
<!-- END_INCLUDE(quickbooks-windows:get-blue-dot-information) -->