<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin><extension point="org.mule.tooling.core.contribution"><externalContribution contributionJar="mule-module-quick-books-windows-5.0.2-SNAPSHOT.jar" contributionJavaDocs="mule-module-quick-books-windows-5.0.2-SNAPSHOT-javadoc.jar" contributionLibPathInMule="/plugins" contributionLibs="mule-module-quick-books-windows-5.0.2-SNAPSHOT.zip" contributionNamespace="http://www.mulesoft.org/schema/mule/quickbooks-windows" contributionNamespaceFile="http://www.mulesoft.org/schema/mule/quickbooks-windows/4.0/mule-quickbooks-windows.xsd" contributionNamespacePrefix="quickbooks-windows" contributionSources="mule-module-quick-books-windows-5.0.2-SNAPSHOT-src.jar" contributionType="cloud-connector" contributionVersion="5.0.2-SNAPSHOT" minimumVersion="3.2" name="Quickbooks Windows" path="editors.xml" version="4.0"/></extension></plugin>